@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Thêm nhóm quyền";
}
    <h2>Thêm một quyền:</h2>

@using (Html.BeginForm())
{
<p> Nhập tên quyền:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Thêm Quyền" />
}