@model IEnumerable<StudentManagement.Models.usp_AspNetUser_GetList>
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">

            @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.userListDb, new { @class = "form-control" })
            @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewBag.listRoles, new { @class = "form-control" })
        </div>
    </div>
    
   
    <input type="submit" value="Luu" class="btn btn-default" />
}
